/* Produce.css */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ojuju:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ojuju:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

/* Root variables */
:root {
    --font-family-base: 'Inter', Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    --font-weight-regular: 400;
    --font-weight-bold: 700;


    --primary-green: #426B1F;
    --hover-green: #55ad07;
    --primary-black: #000000;
    --primary-white: #FFFFFF;


    --vendor-color: #6D6D6D;
    --dark-gray: #5C5959;
    --light-gray: #6D6D6D;
    --produce-background: #FAFAF5;
    --border-color: #E6E6E6;
}

/* Produce objects that haven't been ordered and are not in the basket
  ================================================ */

    .produce {
        justify-self: center;
        background-color: var(--produce-background);
        width: 100%;
        border: 2px solid var(--border-color);
        border-radius: 20px; 
    }

    .produce:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .produce img {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width: 100%;
        margin-bottom: 7px;
        height: 210px;

    }

    .produce .produce-info {
        display: flex;
        justify-content: space-between;
    }

    .produce .produce-info .produce-details {
        margin: 0 0 5px 5px;
    }

    .produce h3 {
        font-family: var(--font-family-base);
        font-size: var(--font-size-medium);
        margin-top: 0;
    }

    .produce .price-per-pound {
        color: var(--primary-green);
        font-family: var(--font-family-base);
        font-size: var(--font-size-medium);
        font-weight: var(--font-weight-bold);
        margin-top: -15px;
    }

    .produce .vendor {
        color: var(--light-gray);
        font-family: var(--font-family-base);
        font-size: 85%;
    }

    .produce .vendor:hover {
        color: var(--primary-black);
    }

    .quantity-input-container {
        /* display: flex;
        flex-flow: column wrap; */
        align-items: center;
        width: 110px;
    }

    .quantity-input-container label {
        font-family: var(--font-family-base);
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-small);
    }

    .quantity-input-container input {
        width: 40px;
        height: 20px;
        margin-bottom: 0;
    }

    .quantity-input-container .error-message {
        margin: 0;
        margin-top: -10px;
        margin-bottom: -25px;
        font-size: 10px;
    }

    .quantity-input-container .cancel-quantity-btn {
        background-color: var(--primary-red);
        color: var(--primary-white);
        width: 90%;
        height: 30px;
        font-size: 80%;
        border: none;
        border-radius: 5px;
    }

    .quantity-input-container .cancel-quantity-btn:hover {
        height: 40px;
    }

    .quantity-input-container .enter-quantity-btn:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }

    .produce .produce-btns {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 7px;
        margin-right: 10px;
    }

    .produce .produce-btns button {
        width: 105%;
        height: clamp(40px, 8vw, 50px);
        font-size: 80%;
        border: none;
        border-radius: 5px;
    }

    .produce .produce-btns .order-now-btn {
        background-color: var(--primary-green);
        color: var(--primary-white);
    }

    .produce .produce-btns .order-now-btn:hover {
        background-color: var(--hover-green);
        height: clamp(45px, 8vw, 55px);
        transition: .3s ease;
    }

    .produce .produce-btns .add-to-basket {
        background-color: var(--primary-white);
        color: var(--dark-gray);
        border: 1px solid var(--dark-gray);
        margin-bottom: 10px;
    }

    .produce .produce-btns .add-to-basket:hover {
        transition: .1s ease;
        color: var(--primary-black);
        border: 1px solid var(--primary-black);
    }    
  /*=================================================*/