:root {
    --font-family-title: Newsreader, Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
    --font-family-base: 'Inter', Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;

    --font-size-large: clamp(20px, 2vw + 1rem, 70px);
    --font-size-medium: clamp(14px, 2vw + .2rem, 17px);
    --font-size-small: clamp(12px, 2vw + .2rem, 22px);


    --font-weight-regular: 400;
    --font-weight-bold: 700;


    --primary-green: #426B1F;
    --primary-black: #000000;
    --primary-white: #FFFFFF;  

    --border-color: #E6E6E6;
}

body {
    font-family: var(--font-family-base);
    font-size: var(--font-size-medium);
    line-height: 1.8;
}

.signup {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container{
    width: clamp(280px, 85%, 700px);
    margin: 60px;
    margin-inline: 7vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.signup-container .signup-header, .signup-header3 {
    text-align: center;
    margin-top: 50px;
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-large);
}

.signup-container .signup-header3 {
    font-weight: var(--font-weight-regular);
}

.signup-container .input-container {
    display: grid;
    margin-left: 15px;
    line-height: 3;
}

.signup-container input[type="text"], .signup-container input[type="password"] {
    margin-left: 20px;
    padding-left: 15px;
    width: 70%;
    height: 35px;
    border: 1px solid var(--primary-black);
    border-radius: 10px;
    margin-bottom: 0;
    font-family: var(--font-family-base);
}

.error-message {
    /* margin-top: -20px; */
    line-height: 1.2;
    width: 70%;
    margin-left: 30px;
    color: var(--primary-red);
    font-size: var(--font-size-extra-small);
}

.signup-container .radio-container {
    /* row-gap: 60px; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.signup-container .radio-container label {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    margin-left: 5px;
}


.signup-container label {
    margin-left: 20px;
    font-weight: var(--font-weight-bold);
}

.green {
    color: var(--primary-green);
    text-decoration: underline;
}

.small {
    font-size: var(--font-size-small);
    text-align: center;
}

.signup-btn-container {
    display: flex;
    justify-content: center;
}

.submit-error {
    line-height: 1.2;
    text-align: center;
    color: var(--primary-red);
    font-size: var(--font-size-extra-small);
    margin-top: 0;
    margin-bottom: 50px;
}